.login{
    width: 100%;
    height: 100%;
    background-color: #121212;
    color: white;

    &__container{
        box-sizing: border-box;
        width: 388px;
        height: 100%;
        border: 1px solid white;
        margin: 0 auto;
        padding: 16px;

        //.logo{
        //}
        .email{
            display: flex;
            flex-direction: column;
            
            // label{ 
            // }

        }
        .password{
            display: flex;
            flex-direction: column;
        }
        .userName{
            display: flex;
            flex-direction: column;
        }
    }
}

button{
    margin: 0 auto;
    background-color: #121212;
    border: #525252 solid 1px;
    border-radius: 2px;
    padding: 16px;
    box-sizing: border-box;
    height: 48px;
    color: white;
}