@import '../../../style/global/collection.module';

.login{
    width: 100%;
    height: 100%;
    background-color: #121212;
    color: white;
    box-sizing: border-box;

    &__container{
        box-sizing: border-box;
        background-color: #121212;
        width: 450px;
        height: 100%;
        border: 1px solid white;
        margin: 0 auto;
        padding: 32px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-item{
            display: flex;
            flex-direction: column;
            gap: 8px;
            // font-weight: bold;
            position: relative;
        }
        &-show{
            cursor: pointer;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $input-height;
            width: fit-content;
            font-size: 13px;
            right: 0;
            bottom: 0;
            padding: 8px;
            background-color: #121212;
            box-sizing: border-box;
            opacity: 0.7;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__logo{
        background: url('../../../assets/logo/logoMain.png') center/contain no-repeat;
        min-height: 35px;
    }

    &__section{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        margin: 30px 0;
    }

    &__upper-container{
        form{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
    
    &__submit-button{
        background-color: $additional-color;
        border-radius: 9999px;
        display: flex;
        justify-content: center;

        button{
            color: black;
            font-weight: bold;
            padding: 8px 32px;
            font-size: 16px;
        }
    }

    &__register{
        &-container{
            display: flex;
            justify-content: center;
            gap: 16px;
        }

        &-text{
            opacity: 0.6;
        }

        &-button{
            font-weight: bold;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__lower-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    &__ad{
        position: relative;
        background: url('../../../assets/photos/advertisement.png') center/contain no-repeat;
        height: 100px;
        width: 100%;

        &-floating{
            display: flex;
            position: absolute;
            color: black;
            right: 32px;
            font-size: 10px;

            &--text{
                font-size: 13px;
            }
            &--remove{
                cursor: pointer;
                background-color: grey;
                width: 15px;
                height: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}