@import '../../../style/global/collection.module';

// PC
.register {
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: white;
  box-sizing: border-box;

  &__container {
    box-sizing: border-box;
    background-color: #121212;
    width: 450px;
    height: 100%;
    border: 1px solid white;
    margin: 0 auto;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__logo {
    background: url('../../../assets/logo/logoMain.png') center/contain no-repeat;
    min-height: 35px;
  }

  &__section {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    // font-weight: bold;
    position: relative;
  }

  &__submitButton {
    background-color: $additional-color;
    border-radius: 9999px;
    display: flex;
    justify-content: center;

    button {
      color: black;
      font-weight: bold;
      padding: 8px 32px;
      font-size: 16px;
    }
  }

  &__upperContainer{
    form{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
  &__middleContainer{
    display: flex;
    justify-content: center;

    .links{

    }

    .breakLine{

    }

    .toLogin{
      display: flex;
      justify-content: center;
      gap: 16px;

      &__text{
        opacity: 0.6;
      }
      &__button{
        font-weight: bold;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &__lowerContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .ad{
    position: relative;
    background: url('../../../assets/photos/advertisement.png') center/contain no-repeat;
    height: 100px;
    width: 100%;

    &__container{
      display: flex;
      position: absolute;
      color: black;
      right: 32px;
      font-size: 10px;
    }
    &__header{
      font-size: 13px;
    }
    &__remove{
      cursor: pointer;
      background-color: grey;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.password__checker{
  height: fit-content;
  padding: 8px;
  width: 100%;
  font-size: 13px;

  p:nth-child(1){
    font-weight: bold;
  }

  p{
    display: flex;
    margin: 0;
    padding: 0;
  }
}
.password__showButton {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $input-height;
  width: fit-content;
  font-size: 13px;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-color: #121212;
  box-sizing: border-box;
  opacity: 0.7;

  &:hover {
    text-decoration: underline;
  }
}


// Mobile
@media (max-width: $mobile_width){
  .register{
    height: 100dvh;

    &__container{
      width: 100%;
      border: none;
    }
  }
}