@use '../../../style/global/collection.module' as global;
@use '../../../style/mixins/scrollbar.module.scss';
@import '../../../style/addictions/custom/select.scss';
@import '../../../style/addictions/inputs.module.scss';

.artistSettings{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 65%;
    min-width: 550px;
    
    form{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__container{

    }

    &__item{
        display: flex;
        flex-direction: column;
        gap: 8px;

        label{
            color: white;
            font-size: 13px;
            font-weight: bold;

            p{
                margin: 0;
                padding: 0;
                display: inline;
            }
        }
    }

    &__preview{
        display: flex;

        &Banner{
            width: 250px;
            height: 150px;
            display: flex;
            justify-content: center;
            background: black center/cover no-repeat;
            position: relative;
            border-radius: 0;
        }

        &Avatar{
            position: relative;
            height: 150px;
            aspect-ratio: 1/1;
            background: black center/cover no-repeat;
            border-radius: 50%;

            .artistSettings__previewText{
                border-radius: 50%;
            }
        }

        &Text{
            text-align: center;
            position: absolute;
            cursor: pointer;
            color:white;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.637);
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__bioArea{
        font-family: "Arial", sans-serif;
        background-color: black;
        color: white;
        border: none;
        border-left: 2px solid global.$second-color;
        border-right: 2px solid global.$second-color;
        padding: 8px;
        border-radius: 5px;
        width: 100%;
        font-size: 13px;

        &:hover {
            outline: none;
            border-left: 2px solid global.$bright-selected-color;
            border-right: 2px solid global.$bright-selected-color;
        }
        &:focus {
            outline: none;
            border-left: 2px solid global.$special-color;
            border-right: 2px solid global.$special-color;
        }
    }
    input[type="file"]{
        background: none;
        border: none;
        height: fit-content;
    }

    &__submitButton{
        width: 100%;
        display: flex;
        justify-content: center;

        button{
            padding: 4px 24px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: bold;
            color: black;
            background-color: #1ED760;
            width: fit-content;
            display: flex;
            justify-content: center;
        }
    }
}

.customSelect__menu-list{
    // @include scrollbar.scrollbar;
    background-color: pink !important;
}