.generalSettings{
    color: white;
    width: 65%;
    min-width: 550px;
    box-sizing: border-box;
    height: 100%;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    input{
        padding: 0;
    }

    &container{
        display: flex;
        gap: 8px;

        .name {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    button{
        margin: 0;
        height: 20px;
        display: flex;
        align-items: center;
        background-color: #2c2c2c;
        border-radius: 10px;
        border: 1px solid #2C2C2C;
        font-weight: bold;
        font-size: 12px;
        padding: 16px;
    }
    .setting:nth-last-child(1){
        border-bottom: 1px solid #282828;
    }
    &__item{
        position: relative;
        z-index: 97;
        border-top: 1px solid #282828;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 8px;

        &Container{
            display: flex;
            gap: 8px;

        .name {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__caption{
        font-size: 14px;
        display: flex;
        align-items: center;
    }
    &__data{
        display: flex;
        align-items: center;
        font-size: 12px;
        opacity: 0.6;
    }

    &__userAvatar{
        background-image: url('../../../../public/profile-user.png');
        background-size: contain;
        width: 48px;
        height: 48px;
    }

    &__icon{
        background-size: cover;
        background-color: white;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        &:hover{
            border: none;
        }
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}