.item{
    height: fit-content;
    overflow: hidden;
    width: fit-content;
    border-radius: 5px;
    position: relative;

    &__playButton{
        position: absolute;
        background-color: rgb(0, 255, 55);
        z-index: 10;
        height: 50px;
        width: 50px;
        top: 110px;
        left: 110px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;
        box-shadow: -4px 8px 27px 0px rgba(0,0,0,0.88);
        -webkit-box-shadow: -4px 8px 27px 0px rgba(0,0,0,0.88);
        -moz-box-shadow: -4px 8px 27px 0px rgba(0,0,0,0.88);

        &:hover{
            background-color: rgb(24, 255, 74);
            transform: scale(1.05);
        }
    }

    &:hover{
        .item__playButton{
            opacity: 1;
        }
    }

    
    &__container{
        width: 153px + 24px;
        padding: 12px;
        &:hover{
            cursor: pointer;
            background-color: #1E1E1E;
        }
    }
    &__cover{
        width: 153px;
        height: 153px;
        background: center/contain no-repeat;
        border-radius: 5px;
    }
    &__title{
        margin-top: 8px;
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        word-wrap: break-word;
        word-break: normal;
        width: 100%;

        // &__movingText{
        //     display: inline-block;
        //     animation: move-text 10s linear infinite;
        // }
        // @keyframes move-text {
        //     0% {
        //         transform: translateX(100%);
        //     }
        //     100% {
        //         transform: translateX(-100%);
        //     }
        // }
            
    }
    &__author{
        font-size: 14px;
        opacity: 0.6;
    }
}