.bar{
  padding: 8px 8px 12px 8px;
  width: calc(100% - 16px);
  max-width: calc(100% - 16px);
  border-radius: 10px;
  margin: 0 8px;
  position: fixed;
  bottom: 8px;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  box-shadow:
          0 20px 40px rgba(0, 0, 0, 0.25),
          inset 0 1px 0 rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.25);

    .song{
      display: flex;
      gap: 8px;
      width: 100%;
      height: 100%;

      &__cover{
        border-radius: 5px;
        height: 40px;
        aspect-ratio: 1 / 1;
        background: center/contain no-repeat;
      }
      &__title{
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: white;

        .label{
          font-weight: bold;
          max-width: 250px;
          overflow: hidden;
        }
        .author{
          opacity: 0.7;
        }
      }
      &__control{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      &__button{
        @mixin controlButton($type) {
          cursor: pointer;
          height: 40px;
          aspect-ratio: 1 / 1;
          background-image: url('../../../../public/audio-player/#{$type}.png');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

        }
        .pause{
          @include controlButton("pauseButton");
        }
        .play{
          @include controlButton("playButton");
        }
      }
    }
    .progress{

    }
}