.bar{
  padding: 8px 8px 12px 8px;
  width: 95%;
  border-radius: 10px;
  margin: 0 auto;
  position: sticky;
  bottom: 8px;

    .song{
      display: flex;
      gap: 8px;
      width: 100%;
      height: 100%;

      &__cover{
        border-radius: 5px;
        height: 40px;
        aspect-ratio: 1 / 1;
        background: center/contain no-repeat;
      }
      &__title{
        display: flex;
        gap: 4px;
        color: white;

        .label{
          font-weight: bold;
        }
        .author{
          opacity: 0.7;
        }
      }
      &__control{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      &__button{
        @mixin controlButton($type) {
          cursor: pointer;
          height: 40px;
          aspect-ratio: 1 / 1;
          background-image: url('../../../../public/audio-player/#{$type}.png');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

        }
        .pause{
          @include controlButton("pauseButton");
        }
        .play{
          @include controlButton("playButton");
        }
      }
    }
    .progress{

    }
}