@import "../../../style/global/variables";

.dropdownMenu{
    z-index: 100;
    position: fixed;
    color: white;
    background-color: #1F1F1F;
    top: 64px;
    right: 100px;
    width: 200px;
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 5px;

    &__Item{
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 5px;

        &:hover{
            background-color: #3E3E3E;
            cursor: pointer;
        }
        &:nth-last-child(1){
            border-top: 1px solid #282828;
        }
    }
}

@media(max-width: $mobile_width) {
  .dropdownMenu{
    width: 100%;
    left: 0;
  }
}