@import '../../../style/global/variables';

.songController {
  display: flex;
  width: 100%;

  &__state{
    height: 35px;
    width: 35px;
  }

  &__state_m{
    height: 55px;
    width: 55px;
  }

  &__extraState{
    height: 28px;
    width: 28px;
  }

  &__extraState_m{
    height: 38px;
    width: 38px;
  }

  &__container {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    justify-content: center;
  }

  &__buttons {
    margin: 0 auto;
    display: flex;
    width: fit-content;
    gap: 8px;

    @mixin controlButton($type) {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-image: url('../../../../public/audio-player/#{$type}.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
    @each $name, $type in (
            shuffle: 'loopButton',
            prevSong: 'prevButton',
            pause: 'pauseButton',
            play: 'playButton',
            nextSong: 'nextButton',
            loop: 'loopButton'
    ) {
      .button__#{$name} {
        padding: 8px;
        box-sizing: border-box;

        @if $name == 'pause' or $name == 'play' {
          @include controlButton($type);
          width: 100%;
          height: 100%;
          opacity: 1;
        } @else {
          div {
            @include controlButton($type);
          }
        }
      }
    }
  }
}

// MOBILE
@media(max-width: $mobile_width){
  .songController__container{
    gap: 0;
  }
}