@import '../../../../style/global/collection.module';

.slidingContainer{
    background-color: #121212;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px;
    transition: 0.4s all;

    &__main{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__input{
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        gap: 16px;
    }
    &__item{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        label{
            font-size: 12px;
            font-weight: bold;
        }
    }
    &__showButton{
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        height: 40px;
        width: fit-content;
        font-size: 13px;
        right: 16px;
        top: 20px;
        box-sizing: border-box;
        opacity: 0.7;

        &:hover{
            text-decoration: underline;
        }
    }
    &__submitButton{
        display: flex;
        justify-content: center;
    }
}