.song{
    user-select: none;
    height: 54px;
    color: white;
    display: flex;
    gap: 8px;
    border-radius: 5px;

    &:hover{
        background-color: #1f1f1f;
        cursor: pointer;
    }
    
    &__state-button{
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 50px;
        &:hover{
            cursor: pointer;
        }
    }
    &__left-panel{
        margin: auto 0;
        width: 100%;
        min-width: 150px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-wrap: break-word;
        overflow-wrap: anywhere;
        display: flex;
        gap: 16px;

        img{
            background: center/contain no-repeat;
            width: aspect-ratio(1/1);
            height: 100%;
        }
    }
    &__title{
        display: flex;
        flex-direction: column;
    }
    &__name{
        font-size: 16px;
    }
    &__artist{
        font-size: 14px;
        display: flex;
        opacity: 0.7;
        p{
            span{
                display: inline;
                font-size: 12px;
                padding: 0 5px;
                font-weight: bold;
                border-radius: 2px;
                background-color: #B3B3B3;
                color: #121212;
                margin-right: 5px;
            }

            margin: 0;
            padding: 0;
            white-space: nowrap;
        }
    }
    &__right-panel{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__state-like{
        display: flex;
        justify-content: end;
        position: relative;
        z-index: 90;
        width: 16px;
        height: 16px;

        &:hover{
            cursor: pointer;
        }

        @mixin like($type) {
            background: url("../../../assets/icons/#{$type}.png") center/contain no-repeat;
            height: inherit;
            width: inherit;
        }

        &--liked{
            @include like("liked");
            filter: brightness(0) saturate(100%) invert(77%) sepia(21%) saturate(4764%) hue-rotate(84deg) brightness(93%) contrast(83%);
        }
        &--notliked{
            @include like("notliked");
            filter: brightness(0.7);
        }

        &:hover{
            filter:brightness(1);
            width: 17px;
            height: 17px;
        }
    }
    &__duration{
        margin: auto 0;
        padding-right: 15px;
        width: 100%;
        display: flex;
        justify-content: end;
    }
}