//global
$primary-color: black;
$second-color: #1F1F1F; 
$additional-color: #1ED760;
$selected-color: #2A2A2A;
$special-color: white;

$bright-selected-color: #333333;

$big-padding: 16px;
$small-padding: 8px;
$border-radius: 5px;
$big_gap: 16px;
$small_gap: 8px;