@use '../../../../style/global/collection.module' as global;

.sliding-container{
    background-color: #121212;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px;
    transition: 0.4s all;

    &__main{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__input{
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        gap: 16px;
        .input-data{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;

            label{
                font-size: 12px;
                font-weight: bold;
            }

            input{
                height: 40px;
                padding: 8px;
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid global.$second-color;
                transition: 0.3s all;
                cursor: pointer;

                &:hover {
                    outline: none;
                    border-bottom: 2px solid global.$bright-selected-color;
                }
                &:focus {
                    outline: none;
                    border-bottom: 2px solid global.$special-color;
                }
            }
            .button__show{
                cursor: pointer;
                position: absolute;
                display: flex;
                justify-content: center;
                height: 40px;
                width: fit-content;
                font-size: 13px;
                right: 16px;
                top: 20px;
                box-sizing: border-box;
                opacity: 0.7;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .button__submit{
        display: flex;
        justify-content: center;
    }
}