@use '../../../style/global/variables' as global;
.progressContainer {
    width: 100%;
    height: 3px;
    background: global.$bright-selected-color;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    .progressBar {
        width: 50%;
        height: 100%;
        background: global.$special-color;
    }

    .slider {
        position: absolute;
        display: none;
        z-index: 10;
        top: 54%;
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        transform: translateY(-60%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}