@use '../../../style/global/variables' as global;

.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .progressContainer {
        width: 100%;
        height: 4px;
        background: global.$bright-selected-color;
        border-radius: 5px;
        position: relative;
        cursor: pointer;

        .progressBar {
            width: 50%;
            height: 100%;
            background: global.$special-color;
            border-radius: 5px;
        }

        .slider {
            position: absolute;
            display: none;
            z-index: 10;
            top: 50%;
            width: 10px;
            height: 10px;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;
            transform: translateY(-50%);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        &:hover {
            .progressBar{
                background-color: global.$second-color;
            }

            .slider{
                display: block;
            }
        }
    }
    .currentTime{
        display: flex;
        align-items: end;
        font-size: 11px;
        opacity: 0.6;
    }
    
    .duration{
        display: flex;
        align-items: end;
        font-size: 11px;
        opacity: 0.6;
    }
}
