.container{
    width: 125px;
    height: 32px;
    display: flex;
    align-items: center;

    .audioIcon{
        min-width: 32px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        div{
            background: url('../../../../public/staff/whenaudioplays.png') center/contain no-repeat;
            height: 16px;
            width: 16px;
        }
    }
}