.main{
    display: flex;
    
    .currentTime{
        display: flex;
        align-items: end;
        font-size: 12px;
        opacity: 0.6;
    }
    
    .duration{
        display: flex;
        align-items: end;
        font-size: 12px;
        opacity: 0.6;
    }
    
    .songController{
        padding: 0 8px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        box-sizing: border-box;
    
        .upper{
    
            .panel {
                margin: 0 auto;
                display: flex;
                width: fit-content;
                gap: 8px;

                %container {
                    width: 32px;
                    height: 32px;
                    padding: 8px;
                    box-sizing: border-box;
                }

                @mixin controlButton($type) {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    background-image: url('../../../../public/audio-player/#{$type}.png');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }
                }

                @each $name, $type in (
                    shuffle: 'loopButton',
                    prevSong: 'prevButton',
                    pause: 'pauseButton',
                    play: 'playButton',
                    nextSong: 'nextButton',
                    loop: 'loopButton'
                ) {
                    &__#{$name} {
                        @extend %container;

                        @if $name == 'pause' or $name == 'play' {
                            @include controlButton($type);
                            opacity: 1;
                        } @else {
                            div {
                                @include controlButton($type);
                            }
                        }
                    }
                }
            }
        }
        .lower{
            .seekBar{
                margin: 0;
                padding: 0;
            }
        }
    }
}