@mixin scrollbar($width: 12px, $track-color: #121212, $thumb-color: #555, $track-radius: 10px, $thumb-radius: 0px, $opacity: 0, $hover-opacity: 1) {
    &::-webkit-scrollbar {
      width: $width;
      opacity: $opacity;
      transition: opacity 0.5s ease-in-out;
    }
  
    &::-webkit-scrollbar-track {
      background: $track-color;
      border-radius: $track-radius;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $thumb-color;
      border-radius: $thumb-radius;
    }
  
    &:hover::-webkit-scrollbar {
      opacity: $hover-opacity;
    }
  }
  