@use '../../../../style/mixins/scrollbar.module.scss';

.foryou{
    border-radius: 5px;
    background-color: #1F1F1F;
    width: 3200px;
    min-width: 200px;
    max-height: 100vh;

    overflow-y: scroll;
        
    @include scrollbar.scrollbar;
    .playlist{
        height: 100%;
        background-color: #121212;
        &__title{
            display: flex;
            gap: 25px;
            color: white;
            align-items: start;
            border-radius: 5px; 
            height: 450px;
            width: 100%;
            margin: auto 0;
            padding: 16px;
            padding-bottom: 50px;
            box-sizing: border-box;

            &__container{
                margin-top: 50px;
                display: flex;
                gap: 25px;

                %image_cont{
                    width: 200px;
                    height: 200px;
                    min-width: 200px;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }

                .image{
                    background: center/contain no-repeat;
                    @extend %image_cont;
                    
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    gap: 16px;
                    p{
                        margin: 0;
                    }
                    &__albumName{
                        font-size: calc(6rem + 1vw);
                        font-weight: bold;
                        text-indent: -8px;
                        line-height: 0.9;
                        -webkit-box-orient: vertical;
                    }

                    &__otherInfo{
                        display: flex;
                        gap: 5px;

                        .artist{
                            font-weight: bold;
                            cursor: pointer;
                            &:hover{
                                text-decoration:underline;
                            }
                        }
                        .year{
                            color: white;
                            opacity: 0.8;
                        }
                        .trackCount{
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        &__tracks{
            position: relative;
            top: -150px;
            background: #12121269;
            backdrop-filter: blur(40px);
            max-height: 300px;
    
                .nav{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 16px;
                    padding: 16px;

                    button{
                        margin: 0;
                    }

                    .button__play{
                        cursor: pointer;

                        background-color: #3BE477;
                        height: 48px;
                        width: 48px;
                        border: 0px;
                        border-radius: 50%;
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // .play__ico{

                        // }
                    }

                    .button__like{
                        display: flex;
                        justify-content: end;
                        z-index: 90;
                        width: 32px;
                        height: 32px;

                        &:hover{
                            cursor: pointer;
                        }

                        @mixin like($type) {
                            background: url("../../../../../public/micro-ico/#{$type}.png") center/contain no-repeat;
                            height: inherit;
                            width: inherit;
                        }

                        .liked{
                            @include like("liked");
                            filter: brightness(0) saturate(100%) invert(77%) sepia(21%) saturate(4764%) hue-rotate(84deg) brightness(93%) contrast(83%);
                        }
                        .notliked{
                            @include like("notliked");
                            filter: brightness(0.7);
                        }

                        &:hover{
                            filter:brightness(1);
                        }
                    }
                }
                .tracks{
                    padding: 0 16px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    
                    .tabulation{
                        color: white;
                        display: flex;
                        box-sizing: border-box;
                        padding: 16px 0;
                        padding-right: 16px;
                        width: 100%;
                        border-bottom: #555 1px solid;

                        &__id{
                            min-width: 40px;
                            display: flex;
                            justify-content: center;
                            justify-items: center;
                        }
                        &__start{
                            display: flex;
                            gap: 8px;
                        }
                        &__end{
                            width: 100%;
                            display: flex;
                            justify-content: end;
                        }
                    }
                }
            }
        }
}