.foryou{
    border-radius: 5px;
    background-color: #1F1F1F;
    width: 3200px;
    min-width: 200px;
    max-height: 100vh;

    overflow-y: scroll;
        
    &::-webkit-scrollbar {
        width: 12px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    &::-webkit-scrollbar-track {
        background: #121212;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 0px;
        width: 20px;
    }
    
    &:hover::-webkit-scrollbar {
        opacity: 1;
    }
    .playlist{
        height: 100%;
        background-color: #121212;
        &__title{
            display: flex;
            gap: 25px;
            color: white;
            align-items: start;

            border-radius: 5px; 
            height: 450px;
            width: 100%;
            margin: auto 0;
            padding: 16px;
            padding-bottom: 50px;
            box-sizing: border-box;

            &__container{
                margin-top: 50px;

                display: flex;
                gap: 25px;
                .image{

                    background-position: 100%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 200px;
                    height: 200px;
                    min-width: 200px;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    gap: 16px;
                    p{
                        margin: 0;
                    }
                    &__albumName{
                        font-size: calc(6rem + 2vw);
                        font-weight: bold;
                        text-indent: -10px;
                        line-height: 0.9;

                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        word-wrap: break-word;
                        overflow-wrap: anywhere;
                        white-space: normal;
                    }

                    &__otherInfo{
                        display: flex;
                        gap: 5px;

                        .artist{
                            font-weight: bold;
                            cursor: pointer;
                            &:hover{
                                text-decoration:underline;
                            }
                        }
                        .year{
                            color: white;
                            opacity: 0.8;
                        }
                        .trackCount{
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        &__tracks{
            position: relative;
            top: -150px;
            background: #1212124b;
            backdrop-filter: blur(40px);
            max-height: 300px;
    
                .nav{
                    display: flex;
                    padding: 16px;

                    .button__play{
                        cursor: pointer;

                        background-color: #3BE477;
                        height: 48px;
                        width: 48px;
                        border: 0px;
                        border-radius: 50%;
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // .play__ico{

                        // }
                    }
                }
                .tracks{
                    padding: 0 16px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    
                    .tabulation{
                        color: white;
                        display: flex;
                        box-sizing: border-box;
                        padding: 16px 0;
                        padding-right: 16px;
                        width: 100%;
                        border-bottom: #555 1px solid;

                        &__id{
                            min-width: 40px;
                            display: flex;
                            justify-content: center;
                            justify-items: center;
                        }
                        &__start{
                            display: flex;
                            gap: 8px;
                        }
                        &__end{
                            width: 100%;
                            display: flex;
                            justify-content: end;
                        }
                    }
                }
            }
        }
}