@import '../../style/addictions/carousel.module.scss';

.selections{
    box-sizing: border-box;
    color: white;
    &__container{
        max-width: 100%;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
    }

    &__title{
        font-size: 25px;
        font-weight: bold;
    }
    &__showAll{
        font-weight: bold;
        opacity: 0.6;
        font-size: 14px;
    }   
    &__content{
        width: 100%;
    }

    &__skeleton{
        width: 100%;
        display: flex;
        gap: 16px;
    }
}

.slick-slide{
    min-width: 100%;
}