@use '../../style/mixins/scrollbar.module.scss';

.profile {
  width: 100%;
  overflow-y: scroll;
  background-color: #121212;
  position: relative;
  @include scrollbar.scrollbar;

    &__header {
      // position: sticky;
      // top: 0;
      // z-index: 2;
      // background-color: red;
      // height: 100px;
      // width: 100%;
    }

    &__bannerAbstract {
      top: 100px;
      z-index: 6;
      width: 100%;
      height: 450px;
      padding: 16px;
      box-sizing: border-box;
      background-color: black;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      color: white;
    }

    &__banner {
      position: relative;
      z-index: 7;
      width: 100%;
      height: 450px;
      padding: 16px;
      box-sizing: border-box;
      background-color: black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
      color: white;
    }

    &__content {
      height: calc(400px - 32px);
      display: flex;
      align-items: flex-end;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__blur {
      background-color: black;
      position: relative;
      width: 100%;
      height: 200px;
      top: 180px;
      filter: blur(20px);
      opacity: 0.3;
      z-index: 9;
    }

    &__verifiedLabel {
      font-weight: bold;
      font-size: 14px;
      position: relative;
      z-index: 10;
    }

    &__verified {
      margin: 0;
      padding: 0;
      display: inline;
      margin-left: 25px;

      &::before {
        content: '';
        position: absolute;
        background: url('/assets/icons/verifiedIcon.png') center/cover no-repeat;
        left: 0px;
        background-size: contain;
        width: 20px;
        height: 20px;
      }
    }

    &__artistName {
      text-indent: -5px;
      line-height: 90px;
      font-size: 96px;
      font-weight: bold;
      z-index: 9;
    }

    &__listeners {
      opacity: 0.7;
      font-weight: bold;
      z-index: 9;
    }

    &__section {
      position: relative;
      z-index: 9;
      background: #121212a9;
      backdrop-filter: blur(30px);
      padding: 16px;
      box-sizing: border-box;
      max-height: 300px;
    }

    &__discography {
      display: flex;
      flex-direction: column;
    }

    &__discographyHeader {
      padding: 8px 0;
    }

    &__discographyTitle {
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

    &__suggestions {
      // styles for artist suggestions
    }
}

.songs {
  display: flex;
  flex-direction: column;
  color: white;

  &__title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    gap: 8px;
  }

  &__list {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__wrapper {
  }

  &__header {
    color: white;
    display: flex;
    padding: 16px 0;
    padding-right: 16px;
    width: 100%;
    border-bottom: #555 1px solid;
    box-sizing: border-box;
    justify-content: space-between;
  }

  &__headerLeft {
    display: flex;
    gap: 8px;
  }

  &__headerRight {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__colId {
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__colName {
  }

  &__colDuration {
  }

  &__plate {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__moreButton {
    cursor: pointer;
    opacity: 0.7;
    font-size: 12px;
  }
}
