@use '../../style/mixins/scrollbar.module.scss';

.profile{
    width: 100%;
    overflow-y: scroll;
    background-color: #121212;

    &__title{
        width: 100%;
        height: 450px;
        padding: 16px;
        box-sizing: border-box;
    }

    &__addiction{
        height: calc(300px - 32px);
        display: flex;
        gap: 16px;
        align-items: end;
        cursor: pointer;
    }

    &__userImage{
        height: 210px;
        width: 210px;
        min-width: 210px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: white;
        width: 80%;

        &Label{
            font-size: 14px;
        }
        &Name{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-indent: -5px;
            line-height: 90px;
            font-size: 72px;
            font-weight: bold;
            overflow: hidden;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            overflow-wrap: anywhere;
            white-space: normal;
        }
        &PlaylistsCount{
            opacity: 0.7;
            font-weight: bold;
        }
    }

    &__statistic{
        position: relative;
        top: -150px;
        height: 45%;
        background: #1212124b;
        backdrop-filter: blur(40px);
    }

    &__icon{
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        &:hover{
            border: none;
        }
    }

    @include scrollbar.scrollbar;
}

