@use '../../style/lead/header/var-header.module' as global;


.header{
    position: relative;
    width: global.$header_width;
    height: global.$header_height;
    padding: 8px 16px;
    box-sizing: border-box;

    background-color: black;
    display: flex;

    .blackScreen{
        color: white;
        background-color: black;
        position: absolute;
        z-index: 98;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0.3;
    }

    
    .navBar{

        width: 100%;
        display: flex;
        gap: 15px;
        overflow: hidden;

        &__logo{
            width: 150px;
            height: 100%;
            .logo{
                background: url('../../../public/logo.png') center/contain no-repeat;
                width: 100%;
                height: 100%;
            }
        }

        &__home{

            
            &:hover{
                background-color: #2b2b2b;
            }

            @extend %header_container;
        }

        button{
            margin: 0;
        }

        &__search{
            cursor: pointer;
            flex: 1;

            background-color: global.$header_second-color;
            border: none;
            border-radius: 500px;
            box-sizing: border-box;
            max-width: 474px;
            width: 100%;
            flex-grow: 1;
            height: 100%;

            padding: 12px 64px 12px 48px;
        }
    }
    .userBar{
        display: flex;
        justify-content: end;
        gap: 10px;
        padding-right: 10%;

        &__subscription{
            padding: 4px 16px;
            box-sizing: border-box;
            display: flex;
            align-items: center;

            height: 32px;
            margin: auto 0;
            width: 100%;
            max-width: fit-content;
            font-size: 13px;
            font-weight: bold;
            background-color: global.$header_special-button-color;
            border-radius: 500px;
        }
        &__settings{
            @extend %header_container;
            color: white;
        }
        &__profile{

            @extend %header_container;
            &:hover{
                filter: none;
            }
        }
        .pp_dropdown{
            position: relative;
        }
    }
}