@use '../../style/addictions/previewFeature.module.scss';
@use '../../style/global/collection.module.scss' as global;
@import '../../style/mixins/scrollbar.module.scss';
@import '../../style/addictions/select.module.scss';

%song_box{
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom right, #616c64, #087D21);
    border-radius: 16px;
}

.createAlbum{
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    @include scrollbar();

    &__container{
        width: 100%;
        padding: 16px 64px;
        box-sizing: border-box;
        position: absolute;

        form{
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-weight: bold;
        }
    }

    &__header{
        font-size: 48px;
        font-weight: bold;
        text-align: center;
    }

    &__details{
        display: flex;
        flex-direction: column;
        gap: 16px;

        &Container{
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include scrollbar();
        }
        .file{
            display: flex;
            flex-direction: row;
        }
    }

    &__cover{
        &Upload{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &File{
            display: flex;
            flex-direction: row;
            &--preview{
                width: 350px;
                aspect-ratio: 1/1;
                border: 2px rgba(9, 255, 0, 0.747) dashed;
                border-radius: 10px;
                position: relative;
                cursor: pointer;
                transition: 0.3s all;

                .preview__art{
                    width: 100%;
                    height: 100%;
                    background: center/contain no-repeat;
                }
                .preview__blackScreen{
                    height: 100%;
                    width: 100%;
                    background-color: black;
                    opacity: 0.7;
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: 0;
                }
                .preview__choose{
                    color: white;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    text-decoration: underline;
                    left: 0;
                    top: 0;
                }
            }
        }
    }

    &__item{
        display: flex;
        flex-direction: column;

        label{
            font-size: 12px;
        }

        .songs{
            margin-top: 16px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

            .song{                        
                @extend %song_box;
                padding: 8px;
                box-sizing: border-box;
                position: relative;
                
                &__removeButton{
                    display: flex;
                    align-items: end;
                    position: absolute;
                    right: -10px;
                    top: -5px;
                    background-color: rgb(66, 211, 9);
                    border-radius: 50%;
                    z-index: 97;
                }
                &__content{
                    display: flex;
                    margin: auto 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    word-wrap: break-word;
                    height: 100%;

                    &Title{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                        font-size: 1rem;
                        word-wrap: break-word;
                        overflow-wrap: anywhere;
                        white-space: normal;
                    }
                    &Genre{
                        font-size: 13px;
                        opacity: 0.6;
                    }
                    &Duration{
                        font-size: 12px;
                        opacity: 0.6;
                    }
                }
            }
            &__addSongs{
                @extend %song_box;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &--icon{
                    background-image: url('../../../public/plus.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
    &__submitButton{
        width: 100%;
        button{
            font-weight: bold;
            width: 100%;
            align-items: center;
        }
    }
}