@use '../../style/addictions/previewFeature.module.scss';
@use '../../style/global/collection.module.scss' as global;
@import '../../style/mixins/scrollbar.module.scss';
@import '../../style/addictions/select.module.scss';
@import '../../style/addictions/inputs.module.scss';

.create-artist{
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(85deg, #080808, #121212, #161616);

    @include scrollbar();

    &__container{
        width: 65%;
        min-width: 550px;
        padding: 16px 64px;
        box-sizing: border-box;
        position: absolute;

        form{
            display: flex;
            flex-direction: column;
            gap: 16px;
            
        }
    }

    &__header{
        font-size: 48px;
        font-weight: bold;
        text-align: center;
    }

    &__main{
        &-container{
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        &-item{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;

            label{
                font-weight: bold;
                font-size: 12px;
            }
        }
    }

    &__submit-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 8px;

        button{
            padding: 8px 64px;
            border-radius: 10px;
            background-color: global.$additional-color;
            color: black;
            font-weight: bold;
        }
    }
}

.green{
    color: global.$additional-color;
}

.red{
    color: red;
}

.react-datepicker__year-dropdown {
  overflow-y: scroll !important;
  max-height: 200px;
}

.react-datepicker__navigation--years-upcoming,
.react-datepicker__navigation--years-previous {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.custom-select__option {
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;

    &:hover{
        background-color: global.$selected-color;
    }
}

.custom-select__single-value {
    font-size: 13px;
    font-weight: bold;
}