@use '../../style/addictions/previewFeature.module.scss';
@use '../../style/global/variables' as global;
@import '../../style/mixins/scrollbar.module.scss';
@import '../../style/addictions/select.module.scss';

.createSong{
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    @include scrollbar();

    &__header{
        font-size: 48px;
        font-weight: bold;
        text-align: center;
    }

    &__container{
        width: 100%;
        padding: 16px 64px;
        box-sizing: border-box;
        position: absolute;

        form{
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-weight: bold;

            .uploadFile{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 32px;

                &__label{
                    font-size: 32px;
                    width: 80%;
                }

                &__description{
                    opacity: 0.9;
                    font-weight: normal;
                }

                &__container{
                    width: 100%;
                    height: 400px;
                    border: 2px dashed global.$second-color;
                    border-radius: 10px;
                    transition: 0.3s all;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &__button{
                        color: black;
                        padding: 10px 16px;
                        border-radius: 50px;
                        background-color: global.$special-color;
                        width: fit-content;
                        height: fit-content;
                        transition: 0.3s all;
                        cursor: pointer;

                        &:hover{
                            background-color: rgba(255, 255, 255, 0.692);
                        }
                    }

                    &:hover{
                        border: 2px dashed global.$bright-selected-color
                    }
                }
            }

            .songDetails{
                display: flex;
                flex-direction: column;
                gap: 16px;
                container-type: inline-size;

                &__audioName{
                    font-size: 14px;
                    font-weight: bold;
                    color: gray;
                    text-align: center;
                }

                &__message{
                    display: flex;
                    justify-content: center;
                }

                &__container{
                    display: flex;
                    width: 100%;
                    gap: 8px;

                    .songDetails__left{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .preview{
                            width: 350px;
                            aspect-ratio: 1/1;
                            border: 2px rgba(9, 255, 0, 0.747) dashed;
                            border-radius: 10px;
                            position: relative;
                            cursor: pointer;
                            transition: 0.3s all;

                            &__art{
                                width: 100%;
                                height: 100%;
                                background: center/contain no-repeat;
                            }
                            &__blackscreen{
                                height: 100%;
                                width: 100%;
                                background-color: black;
                                opacity: 0.7;
                                position: absolute;
                                z-index: 1;
                                left: 0;
                                top: 0;
                            }
                            &__choose{
                                color: white;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                z-index: 2;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                                text-decoration: underline;
                                left: 0;
                                top: 0;
                            }
                        }
                        .file{
                            display: flex;
                            flex-direction: row;
                        }
                    }

                    .songDetails__right{
                        height: 100%;
                        width: 100%;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        @include scrollbar();

                        .songDetails__data{
                            margin-top: 16px;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

@container (max-width: 900px) {
    .createSong{
        &__container{
            form{
                .songDetails{
                    &__container{
                        display: block;
                    }
                }
            }
        }
    }
}