.layout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    &__logisty-sosut{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}