@use '../../../style/mixins/scrollbar.module';
@import '../../../style/global/variables';

.forYou {
  border-radius: 5px;
  min-width: 200px;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #080808, #121212, #161616);
}

.playlist {
  height: 100%;

  &__container {
    display: flex;
    gap: 25px;
    color: white;
    align-items: start;
    border-radius: 5px;
    height: 450px;
    width: 100%;
    margin: auto 0;
    padding: 16px;
    box-sizing: border-box;
  }

  &__title {
    margin-top: 50px;
    display: flex;
    gap: 25px;
    position: relative;
    z-index: 50;
  }

  &__image, &__image-liked {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  &__customImg, &__img{
    height: 100%;
    width: 100%;
    background: center/contain no-repeat;
  }
  &__img{
    background-image: url("/assets/photos/likedCollectionIcon.png");
  }

  &__name {
    font-size: 4rem;
    font-weight: bold;
    line-height: 0.9;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: normal;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;

    p {
      margin: 0;
    }
  }

  &__meta {
    display: flex;
    gap: 5px;
  }

  &__artist {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    gap: 4px;

    &:hover {
      text-decoration: underline;
    }

    &-avatar {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: black;
    }
  }

  &__year {
    color: white;
    opacity: 0.8;
  }

  &__songCount {
    opacity: 0.8;
  }

  &__songs {
    position: relative;
    top: -150px;
    background: #1212124d;
    backdrop-filter: blur(30px);
    max-height: 300px;
  }

  &__nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    padding: 16px;

    .playlist__button--play {
      cursor: pointer;
      background-color: #3be477;
      height: 48px;
      width: 48px;
      border: 0;
      border-radius: 50%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .playlist__button--like {
      display: flex;
      justify-content: end;
      z-index: 90;
      width: 32px;
      height: 32px;

      &:hover {
        cursor: pointer;
        filter: brightness(1);
      }

      @mixin like($type) {
        background: url("/assets/icons/#{$type}.png") center/contain no-repeat;
        height: inherit;
        width: inherit;
      }

      &-icon--active {
        @include like("liked");
        filter: brightness(0) saturate(100%) invert(77%) sepia(21%) saturate(4764%) hue-rotate(84deg) brightness(93%) contrast(83%);
      }

      &-icon--inactive {
        @include like("notliked");
        filter: brightness(0.7);
      }
    }
  }

  &__songList {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 250px;
  }

  &__header {
    color: white;
    display: flex;
    box-sizing: border-box;
    padding: 16px 0;
    padding-right: 16px;
    width: 100%;
    border-bottom: #555 1px solid;

    &-start {
      display: flex;
      gap: 8px;
    }

    &-id {
      min-width: 50px;
      display: flex;
      justify-content: center;
    }

    &-end {
      width: 100%;
      display: flex;
      justify-content: end;
    }

    &-duration {
    }
  }

  &__songPlate {
  }

  &__footer {
    color: white;
    padding: 8px 0;
  }

  &__releaseDate {
    opacity: 0.7;
    font-size: 12px;
  }

  &__recordLabel {
    opacity: 0.5;
    font-size: 11px;
  }

  &__empty {
    text-align: center;
    color: #888;
    padding: 20px;
  }
}

.skeleton {
  padding-left: 54px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  &__left-panel {
    display: flex;
    gap: 10px;
  }

  &__right-panel {
    width: 50px;
  }
}


// MOBILE
@media(max-width: $mobile_width) {
  .playlist{
    &__container{
      height: fit-content;
    }

    &__title{
      display: flex;
      flex-direction: column;
    }

    &__info{
      position: relative;
      z-index: -2;
    }

    &-name{
      font-size: 3rem;
      -webkit-line-clamp: none;
      line-clamp: none;
    }

    &__songs{
      background: none;
      position: relative;
      top: 0;
      box-shadow: -3px 5px 41px 56px linear-gradient(45deg, #080808, #121212, #161616);
      -webkit-box-shadow: -3px 5px 41px 56px linear-gradient(45deg, #080808, #121212, #161616);
      -moz-box-shadow: -3px 5px 41px 56px linear-gradient(45deg, #080808, #121212, #161616);
    }
    &__tracks::before {
      content: "";
      position: absolute;
      inset: -40px 0 -40px -40px;
      background: linear-gradient(45deg, #080808, #121212, #161616);
      filter: blur(40px);
      z-index: -1;
      border-radius: inherit;
    }
  }
}