@use '../../global/variables.module' as global;

$header_primary-color: global.$primary-color;
$header_second-color: global.$second-color;
$header_selected-color: global.$selected-color;
$header_special-button-color: global.$special-color;

$header_height: 64px;
$header_width: 100%;
$header_paddings: global.$small-padding;
$header_big-paddings: global.$big-padding;

$header_in-container-height: 32px;
$header_font-size: 14px;

%header_container{
    background-color: $header_second-color;
    border-radius: 50%;
    $measure: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: $measure;
    cursor: pointer;

    width: $measure;
    height: $measure;
    &:hover{
        filter: brightness(1.5);
    }
}