@import '../../../style/global/variables';

.floatingBar{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;

  &__container{
    width: 100%;
    height: 4px;
    background: $bright-selected-color;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    .bar{
      height: 100%;
      background: $special-color;
      border-radius: 5px;

      &:hover{
        background-color: $second-color;
      }
    }
    .slider{
      position: absolute;
      display: none;
      z-index: 10;
      top: 50%;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      transform: translateY(-50%);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

      &:hover{
        display: block;
      }
    }
  }
}
