@import '../../../style/global/variables';

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .progressContainer{
    width: 100%;
    height: 4px;
    background: $bright-selected-color;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    &__bar{
      width: 50%;
      height: 100%;
      background: $special-color;
      border-radius: 5px;

      &:hover{
        background-color: $second-color;
      }
    }
    &__slider{
      position: absolute;
      display: none;
      z-index: 10;
      top: 50%;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      transform: translateY(-50%);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

      &:hover{
        display: block;
      }
    }
  }

  .currentTime, .durationTime{
    display: flex;
    align-items: end;
    font-size: 11px;
    opacity: 0.6;
  }
}

// MOBILE
@media(max-width: $mobile-width){
  .progress {

    .progressContainer{
      height: 5px;
    }

    .currentTime, .durationTime{
      font-size: 15px;
    }
  }
}