@use '../../../style/mixins/scrollbar.module';
@import '../../../style/global/variables';

.settings{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  padding: 24px;
  box-sizing: border-box;
  background: linear-gradient(85deg, #080808, #121212, #161616);

  &__header{
    color: white;
    display: flex;
    gap: 32px;
    width: 65%;
    min-width: 550px;
    padding: 8px 0;

    .container{
      display: flex;

      &__icon{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        &:hover{
          border: none;
        }
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          width: 80%;
          height: 80%;
        }
      }
      &__info{
      }
      &__name{
        color: white;
        font-weight: bold;
        font-size: 20px;
      }
      &__description{
        color: white;
        opacity: 0.6;
        font-size: 14px;
      }
    }
    &__main{
      display: flex;
    }
    &__panel{
      width: 100%;
      height: 100%;
      border-radius: 5px;
      height: 70vh;
      overflow-y: scroll;
    }
  }
}

@media(max-width: $mobile_width){
  .settings{
    &__header{
      min-width: 0;
      width: 100%;
      overflow: hidden;
    }
    &__info{
      display: none;
    }
  }
}