@use '../../style/mixins/scrollbar.module.scss';
@import '../../style/global/variables.scss';

.foryou {
  border-radius: 5px;
  min-width: 200px;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #080808, #121212, #161616);
}

.playlist {
  height: 100%;

  &__title {
    display: flex;
    gap: 25px;
    color: white;
    align-items: start;
    border-radius: 5px;
    height: 450px;
    width: 100%;
    margin: auto 0;
    padding: 16px;
    box-sizing: border-box;
  }

  &__title-container {
    margin-top: 50px;
    display: flex;
    gap: 25px;
    position: relative;
    z-index: 50;
  }

  &__image, &__image-liked {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    min-width: 200px;
    background: center/contain no-repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  &__image-liked{
    background-image: url('/assets/photos/likedCollectionIcon.png');
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;

    p {
      margin: 0;
    }

    &-type {
      // optional styles
    }

    &-album-name {
      font-size: 4rem;
      font-weight: bold;
      line-height: 0.9;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-wrap: break-word;
      overflow-wrap: anywhere;
      white-space: normal;
    }

    &-meta {
      display: flex;
      gap: 5px;

      .playlist__artist {
        font-weight: bold;
        cursor: pointer;
        display: flex;
        gap: 4px;

        &:hover {
          text-decoration: underline;
        }

        &-avatar {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: black;
        }
      }

      .playlist__year {
        color: white;
        opacity: 0.8;
      }

      .playlist__track-count {
        opacity: 0.8;
      }
    }
  }

  &__tracks {
    position: relative;
    top: -150px;
    background: #1212124d;
    backdrop-filter: blur(30px);
    max-height: 300px;
  }

  &__nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    padding: 16px;

    .playlist__button--play {
      cursor: pointer;
      background-color: #3be477;
      height: 48px;
      width: 48px;
      border: 0;
      border-radius: 50%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .playlist__button--like {
      display: flex;
      justify-content: end;
      z-index: 90;
      width: 32px;
      height: 32px;

      &:hover {
        cursor: pointer;
        filter: brightness(1);
      }

      @mixin like($type) {
        background: url("/assets/icons/#{$type}.png") center/contain no-repeat;
        height: inherit;
        width: inherit;
      }

      &-icon--active {
        @include like("liked");
        filter: brightness(0) saturate(100%) invert(77%) sepia(21%) saturate(4764%) hue-rotate(84deg) brightness(93%) contrast(83%);
      }

      &-icon--inactive {
        @include like("notliked");
        filter: brightness(0.7);
      }
    }
  }

  &__track-list {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__header {
    color: white;
    display: flex;
    box-sizing: border-box;
    padding: 16px 0;
    padding-right: 16px;
    width: 100%;
    border-bottom: #555 1px solid;

    &-start {
      display: flex;
      gap: 8px;
    }

    &-id {
      min-width: 50px;
      display: flex;
      justify-content: center;
    }

    &-end {
      width: 100%;
      display: flex;
      justify-content: end;
    }

    &-duration {
    }
  }

  &__track-plate {
  }

  &__footer {
    color: white;
    padding: 8px 0;

    &-release-date {
      opacity: 0.7;
      font-size: 12px;
    }

    &-label {
      opacity: 0.5;
      font-size: 11px;
    }
  }

  &--empty {
    text-align: center;
    color: #888;
    padding: 20px;
  }
}

.skeleton {
  padding-left: 54px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  &__left-panel {
    display: flex;
    gap: 10px;
  }

  &__right-panel {
    width: 50px;
  }
}


// MOBILE
@media(max-width: $mobile_width) {
  .playlist{
    &__title{
      height: fit-content;
    }

    &__title-container{
      display: flex;
      flex-direction: column;
    }

    &__info{
      position: relative;
      z-index: -2;
      &-album-name{
        font-size: 3rem;
        -webkit-line-clamp: none;
        line-clamp: none;
      }
    }

    &__tracks{
      background: none;
      position: relative;
      top: 0;
      box-shadow: -3px 5px 41px 56px linear-gradient(45deg, #080808, #121212, #161616);
      -webkit-box-shadow: -3px 5px 41px 56px linear-gradient(45deg, #080808, #121212, #161616);
      -moz-box-shadow: -3px 5px 41px 56px linear-gradient(45deg, #080808, #121212, #161616);
    }
    &__tracks::before {
      content: "";
      position: absolute;
      inset: -40px 0 -40px -40px;
      background: linear-gradient(45deg, #080808, #121212, #161616);
      filter: blur(40px);
      z-index: -1;
      border-radius: inherit;
    }
  }
}