@use './style/global/collection.module' as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button{
  background-color: transparent;
  border: 1px solid $additional-color;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
  box-sizing: border-box;
  cursor: pointer;
}

.error{
  color: $error-color;
}

.success{
  color: $success-color;
}
.explicit{
  padding: 1px 4px;
  color: #121212;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 5px;
  font-size: 12px;
  background-color: #B3B3B3;
}

.modalOverlay{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal{
      position: relative;
      z-index: 99;
      background: #272727;
      width: 524px;
      height: fit-content;
      color: white;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .cancelbutton{
          padding: 8px 16px !important;
          border-color: #e53e3e;
          margin-top: 2px;
      }
  }
  
}