@use '../../../style/mixins/scrollbar.module.scss';

.song {
  user-select: none;
  width: 100%;
  min-width: 300px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;

  &__header {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

    .song__close-info {
      display: flex;
      justify-content: flex-end;

      svg {
        cursor: pointer;
      }
    }
  }

  &__background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

  &__content {
    overflow-y: scroll;
    color: white;
    position: relative;
    z-index: 2;
    max-height: 79vh;
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include scrollbar.scrollbar;

    .song__image-wrapper {
      border-radius: 5px;

      img {
        width: 100%;
        border-radius: 10px;
        background: center/contain no-repeat;
        aspect-ratio: 1 / 1;
      }
    }

    .song__title {
      display: flex;
      justify-content: space-between;

      &-content {
        .song__name {
          font-size: 20px;
          font-weight: bold;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          word-wrap: break-word;
          overflow-wrap: anywhere;
          white-space: normal;

          a {
            color: white;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .song__artists {
          font-size: 16px;
          opacity: 0.7;

          span {
            display: inline;
            cursor: pointer;
            
            &:hover {
              text-decoration: underline;
            }

            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }

      .song__like-button {
        height: 100%;
        width: 16px;
        display: flex;
        align-items: center;

        @mixin like($type) {
          background: url("../../../../public/micro-ico/#{$type}.png") center/contain no-repeat;
          width: 16px;
          height: 16px;
          cursor: pointer;
        }

        .song__liked {
          @include like("liked");
          filter: brightness(0) saturate(100%) invert(77%) sepia(21%) saturate(4764%) hue-rotate(84deg) brightness(93%) contrast(83%);
        }

        .song__not-liked {
          @include like("notliked");
          filter: brightness(0.7);
        }
      }
    }

    .song__artist {
      background-color: #181818;
      border-radius: 10px;

        &-preview {
            height: 260px;
            width: 100%;
            background-image: url('~/public/placeholders/artist-placeholder.png');
            background-size: cover !important;
            background-repeat: no-repeat !important;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        } 

        &-details {
            padding: 16px;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            gap: 8px;

            .song__artist-name {
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
            .song__artist-bio {
                font-weight: normal;
                font-size: 13px;
                opacity: 0.6;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                word-wrap: break-word;
                overflow-wrap: anywhere;
                white-space: normal;
            }
        }
    }

    .song__details {
      box-sizing: border-box;
      width: 100%;
      padding: 16px;
      background-color: #181818;
      border-radius: 10px;

      &-content {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .song__credits-header {
          display: flex;
          justify-content: space-between;
          font-weight: bold;

          &-title {}

          &-button {
            font-size: 13px;
            opacity: 0.6;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
              font-size: 13.5px;
            }
          }
        }

        .song__feature {
          .song__feature-name {
            font-weight: bold;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          .song__feature-roles {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 11px;
            opacity: 0.6;

            .song__role {
              display: block;
            }
          }
        }
      }
    }
  }
}

.resizer {
  min-width: 8px;
  cursor: grab;
  transition: background 0.3s ease, border-right 0.3s ease-in-out;

  &:hover {
    border-right: white solid 1px;
  }
}
