@use '../../../style/mixins/scrollbar.module.scss';

.song{
    user-select: none;
    width: 100%;
    min-width: 300px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    &__albumTitle{
        height: 64px;
        width: 100%;
        padding: 16px 16px; 
        box-sizing: border-box;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        
        .closeInfo{
            display: flex;
            justify-content: end;
            
            svg{
                cursor: pointer;
            }
        }
    }
    &__container{
        overflow-y: scroll;
        color: white;

        padding: 0 16px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include scrollbar.scrollbar;

        .image_container{
            background-color: #1F1F1F;
            border-radius: 5px;
            img{
                width: 100%;
    
                border-radius: 5px;
                background: center/contain no-repeat;
                aspect-ratio: 1/1;
            }
        }
        .title{
    
            &__songName{
                font-size: 20px;
                font-weight: bold;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                word-wrap: break-word;
                overflow-wrap: anywhere;
                white-space: normal;
                a{
                    color: white;
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            &__artists{
                font-size: 16px;
                font-weight: bold;
                opacity: 0.7;
                display: flex;
                display: inline;

                span{
                    display: inline;
                    
                    a{
                        color: white;
                        text-decoration: none;
                        
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .artistAccount{
            box-sizing: border-box;
            border-bottom: 5px;
            width: 100%;
            height: fit-content;

            .artist{
                background-color: #1F1F1F;
                border-radius: 10px;

                &__preview{
                    height: 260px;
                    width: 100%;
                }
                &__details{
                    padding: 16px;

                    // &__name{

                    // }
                    // &__listeners{

                    // }
                    // &__description{

                    // }
                }
            }
        }
    }
}

.resizer {
    min-width: 8px;
    cursor: grab;
    transition: background 0.3s ease;
    transition: border-right 0.3s ease-in-out; 
    
    &:hover{
        border-right: white solid 1px;
    }
}