@use '../global/collection.module.scss' as global;

$arrow-bg: rgba(255, 255, 255, 0.3);
$arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
$option-bg: white;
$select-bg: rgba(255, 255, 255, 0.2);

.tarea{
    font-family: "Arial", sans-serif;
    background-color: black;
    color: white;
    border: none;
    border-left: 2px solid global.$second-color;
    border-right: 2px solid global.$second-color;
    border-radius: 5px;
    padding: 16px;
    max-width: 100%;

    &:hover {
        outline: none;
        border-left: 2px solid global.$bright-selected-color;
        border-right: 2px solid global.$bright-selected-color;
    }
    &:focus {
        outline: none;
        border-left: 2px solid global.$special-color;
        border-right: 2px solid global.$special-color;
    }
}
input{
    height: 25px;
    width: 100%;
    background-color: black;
    border: none;
    border-bottom: 2px solid global.$second-color;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
        outline: none;
        border-bottom: 2px solid global.$bright-selected-color;
    }
    &:focus {
        outline: none;
        border-bottom: 2px solid global.$special-color;
    }
}

:root {
    
}
* {
    box-sizing: border-box;
}
select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    padding: 8px 16px;
    background: b$arrow-icon no-repeat right 0.8em center / 1.4em, transparent;
    border-bottom: 2px solid global.$additional-color;
    color: global.$special-color;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    transition: 0.3s all;

    &::-ms-expand {
        display: none;
    }
    &:hover {
        outline: none;
        border-bottom: 2px solid global.$special-color;
    }
    &:focus {
        outline: none;
        border-bottom: 2px solid global.$special-color;
    }
    option {
        color: black;
        backdrop-filter: blur(10px);
        background: transparent;
        font-weight: bold;
        background-color: $option-bg;
    }
}
  