@import '../mixins/scrollbar.module.scss';

.previewFeatScroll{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100px;

    @include scrollbar;
}

.previewFeature, .previewFeatScroll{
    background-color: #1F1F1F;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    height: fit-content;
    gap: 8px;

    &__artistContainer{
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 8px;

        .artistData{
            display: flex;
            width: 100%;
            justify-content: space-between;

            &__removeArtist{
                border: 0;
                padding: 0;
            }

            &__previewData{
                
                &__name{

                }
                &__roles{
                    opacity: 0.7;
                    font-weight: normal;
                }
            }

            &__container{
                position: relative;
                
                &__roleRemover{
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: -24px;
                    svg{
                        width: 24px;
                        height: 24px;
                    }
                }
                &__role{

                }
            }
        }
    }

    .role{
        cursor: pointer;
    }
}