@import '../mixins/scrollbar.module.scss';

.previewFeature{
    background-color: #1F1F1F;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    height: 150px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include scrollbar();

    &__topLevel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        gap: 8px;

        div{
            width: 100px;

            strong{
                display: flex;
                justify-content: center;
            }
            .role{
                opacity: 0.7;
                display: block;
                text-align: center;
            }
            
        }
        button{
            position: absolute;
            padding: 0;
            left: -10px;
            background: none;
            border: none;
        }
        .roleList{
            position: relative;
            span{
                display: flex;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            button{
                position: inherit;
                font-size: 10px;
            }
        }
        div:nth-last-child(1){
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .role{
        cursor: pointer;
    }
}